.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 10px 50px 90px;
}

.footer__address {
    font-style: normal;
}

.footer__menu {
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
}

.footer__menu-list {
    max-width: 149px;
    margin: 0 auto;
    list-style: none;
}

.footer__menu-list-item {
    font-size: 18px;
}

.footer__menu-link {
    display: inline-block;
    text-decoration: none;
}

.footer__social-list {
    width: 240px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
